﻿@using Excel_Import.Models
@{
    ViewBag.Title = "ContactsListView";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<script type="text/javascript">
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource();
        $(function () {
            $.ajax({
                type: "GET",
                url: "/Excel/ContactsListView_Read",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responseData) {

                     dataSource = new kendo.data.DataSource({
                        data: responseData,
                        pageSize: 6
                    });

                    $("#pager").kendoPager({
                        dataSource: dataSource
                    });

                    //$("#searchtxt").kendoAutoComplete({
                    //    dataTextField: "FirstName",
                    //    dataSource: dataSource,
                    //    logic: "or",
                    //    filters: [
                    //        {
                    //            field: "FirstName",
                    //            operator: "contains",
                    //            value: $('#searchtxt').val(),
                    //        },
                    //        {
                    //            field: "LastName",
                    //            operator: "contains",
                    //            value:$('#searchtxt').val(),
                    //        }
                    //    ],
                    //    //filter: "contains",
                    //    placeholder: "Search"
                    //});

                    $("#listView").kendoListView({
                        dataSource: dataSource,
                        template: kendo.template($("#template").html())
                    });

                    $("#listView").removeClass("k-widget");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

        $("#searchtxt").keyup(function () {
            var val = $('#searchtxt').val();
            dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "FirstName",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "LastName",
                        operator: "contains",
                        value: val
                    }, {
                        field: "Company",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "Email",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "Phone1",
                        operator: "contains",
                        value:val
                    }
                ]
            });
            
            $("#listView").kendoListView({
                dataSource: dataSource, 
                template: kendo.template($("#template").html())
            });
            $("#listView").removeClass("k-widget");
        });
    });
</script>

<div class="hpanel">
    <div id="panelbody" class="panel-body">

        @*<div class="container bootstrap snippets bootdey">*@
        <div class="row">
            <div class="col-lg-12">

                <h3>
                    Contacts List
                </h3>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="input-group" style="display:contents;">
                            <input type="text" id="searchtxt" name="example-input1-group2" class="form-control" style="max-width:100%;height:100%;min-height:35px;" placeholder="Search">
                        </div>


                        <div class="clearfix"></div>


                        <div id="listView" style="margin-top:25px;"></div>
                        <div id="pager" class="k-pager-wrap"></div>

                        <script type="text/x-kendo-template" id="template">

                                    <div class="col-sm-4" style="min-height:200px">
                                        <div class="contacts">
                                            <div>
                                                <h3>
                                                    <span style="float:left;">
                                                        @*<span onclick="Contactdetailview(`#:ContactId#`)" style="cursor:pointer;">*@
                                                            <h2>#:Company#</h2>

                                                        @*</span>*@
                                                    </span>
                                                    <span class="pull-right btn-group-sm" style="float:right;">
                                                        <a href="\\#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" onclick="GetDetails(`#:ContactId#`)"><span class="fa fa-pencil"> </span></a>
                                                        <a href="\\#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" onclick="Delete(`#:ContactId#`)"><span class="fa fa-close"> </span></a>
                                                    </span>
                                                </h3>
                            <br/>
                                                <h3>
                                                                #:FirstName#  #:LastName#
                                                            </h3>
                                                <h4>#:Email#</h4>
                                                <h4>#:Phone1#</h4>
                                                @*<h4>#:InsertedDate#</h4>
                                                <h4>#:ModifiedDate#</h4>*@
                                            </div>
                                        </div>
                                    </div>

                        </script>
                        <div id="listViewdetail" style="display:none;"></div>
                        <script type="text/x-kendo-template" id="detailtemplate">
                            <div class="contacts">
                                <h3>#:FirstName#  #:LastName#</h3>
                                <h4>#:Company#</h4>
                                <h4>#:Title#</h4>
                                <h4>#:Address#</h4>
                                <h4>#:Street#</h4>
                                <h4>#:City#</h4>
                                <h4>#:State#</h4>
                                <h4>#:Zip#</h4>
                                <h4>#:Email#</h4>
                                <h4>#:Phone1#</h4>
                                <h4>#:Phone2#</h4>
                                <h4>#:KeyWords#</h4>
                            </div>
                        </script>


                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>
        </div>

        @*</div>*@
    </div>
</div>

<div class="modal fade" id="modal-Update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header with-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="box-title"> Update Contact</h3>
            </div>
            <div class="modal-body" style="height:auto; width:100%;">
                <div class="box box-primary">
                    @using (Html.BeginForm("UpdateContact", "Excel", FormMethod.Post))
                    {
                        <div class="modal-body">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div>
                                            <div class="form-group">
                                                <input type="hidden" id="hfId" name="ContactId">
                                                <label for="InputFirstname">First Name </label>
                                                <input type="text" class="form-control" id="txtFirstName" name="FirstName" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputCompany">Company </label>
                                                <input type="text" class="form-control" id="txtCompany" name="Company" placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputCompany">Address </label>
                                                <input type="text" class="form-control" id="txtAddress" name="Address" placeholder="Address">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputCity">City </label>
                                                <input type="text" class="form-control" id="txtCity" name="City" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputZip">Zip </label>
                                                <input type="text" class="form-control" id="txtZip" name="Zip" placeholder="Zip">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputPhone1">Phone1 </label>
                                                <input type="text" class="form-control" id="txtPhone1" name="Phone1" placeholder="Phone1">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputKeywords">Keywords </label>
                                                <input type="text" class="form-control" id="txtKeywords" name="Keywords" placeholder="Keywords">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputPersonType">Person Type </label>
                                                <input type="text" class="form-control" id="txtPersonType" name="PersonType" placeholder="PersonType">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <button type="button" onclick="Adddetails()" class="btn btn-default">Add Additional Details</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <div class="form-group">
                                                <label for="InputLastname">Last Name </label>
                                                <input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Last Name" value="">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputTitle">Title </label>
                                                <input type="text" class="form-control" id="txtTitle" name="Title" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputStreet">Street </label>
                                                <input type="text" class="form-control" id="txtStreet" name="Street" placeholder="Street">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputState">State </label>
                                                <input type="text" class="form-control" id="txtState" name="State" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputEmail">Email </label>
                                                <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputPhone2">Phone2 </label>
                                                <input type="text" class="form-control" id="txtPhone2" name="Phone2" placeholder="Phone2">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div>
                                            <div class="form-group">
                                                <label for="InputCompanyType">Company Type </label>
                                                <input type="text" class="form-control" id="txtCompanyType" name="CompanyType" placeholder="CompanyType">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="addadditionalfield" style="display:none;">
                                    <div class="wrapper">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading active" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Add Additional Details
                                                        </a>

                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <input type="hidden" name="count" id="count">
                                                    <div class="panel-body" id="addfield">
                                                    </div>
                                                    <div class="panel-body" style="border-top-color:white">
                                                        <div><input type="button" class="btn btn-default" onclick="addadditionaldetails()" value="Add" />
                                                         <input type="button" class="btn btn-default" onclick="canceladd()" value="Cancel" /></div>
                                                    </div>
                                                    <br />
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="additionalfield" style="display:none;">
                                    <div class="wrapper">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading active" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Additional Details
                                                        </a>

                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body" id="inputfield">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="border-top:none;">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        font: inherit;
        background-color: #f2eeee;
    }

    #listViewdetail {
        padding: 10px 5px;
        margin-bottom: -1px;
        font: inherit;
    }

    .contacts {
        min-height: 100px;
        margin: 5px 0px;
        padding: 5px;
        /*position: fixed;*/
        padding-bottom: 15px !important;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid transparent;
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    }

        .contacts h3 {
            margin: 10px 0px;
            padding: 3px 5px 0 0;
            overflow: hidden;
            line-height: 1.1em;
            font-size: 16px;
            font-weight: bold;
        }

        .contacts h4 {
            margin: 0;
            padding: 3px 5px 0 0;
            overflow: hidden;
            line-height: 1.1em;
            font-size: 14px;
            font-weight: normal;
        }

        .contacts a {
            margin: 10px 0px;
            padding: 3px 5px 0 0;
            line-height: 1.1em;
            font-size: 16px;
            font-weight: bold;
        }

        .contacts p {
            visibility: hidden;
        }

        .contacts:hover p {
            visibility: visible;
            position: absolute;
            width: 110px;
            height: 110px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>

<script>
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>


<script type="text/javascript">
    function Contactdetailview(data) {
        $("#listView").hide();
        $("#pager").hide();
        $("#template").hide();
        $(".panel-default").hide();
        $(".input-group").hide();
        $("#listViewdetail").show();
        $.ajax({
            type: "GET",
            url: "/Excel/Contactdetailview",
            data: { a: data },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (responseData) {
                var dataSource = new kendo.data.DataSource({
                    data: responseData
                });

                $("#listViewdetail").kendoListView({
                    dataSource: dataSource,
                    template: kendo.template($("#detailtemplate").html())
                });

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<script>
    function GetDetails(cid) {
        $.ajax({
            type: "GET",
            url: "/Excel/ContactUpdateview",
            data: { a: cid },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                console.log("Response ", response);
                $('#hfId').val(response.ContactId);
                $('#txtFirstName').val(response.FirstName);
                $('#txtLastName').val(response.LastName);
                $('#txtCompany').val(response.Company);
                $('#txtTitle').val(response.Title);
                $('#txtAddress').val(response.Address);
                $('#txtStreet').val(response.Street);
                $('#txtCity').val(response.City);
                $('#txtState').val(response.State);
                $('#txtZip').val(response.Zip);
                $('#txtEmail').val(response.Email);
                $('#txtPhone1').val(response.Phone1);
                $('#txtPhone2').val(response.Phone2);
                $('#txtKeywords').val(response.KeyWords);
                $('#txtCompanyType').val(response.CompanyType);
                $('#txtPersonType').val(response.PersonType);
                $('#modal-Update').modal('show');
                GetAdditionalFields(cid);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
</script>

<script>
    function GetAdditionalFields(cid) {
        $("#addfield").empty();
        $('#addadditionalfield').hide();
        $('#additionalfield').load(" #additionalfield > *");
        $.ajax({
            type: "GET",
            url: "/Excel/Additionalfieldview",
            data: { a: cid },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (response.length != 0) {
                    $('#additionalfield').show();
                    for (var i = 0; i < response.length; i++) {
                        var htmldiv = '<input type="hidden" name="AdditionalDetails[' + i + '].Id" value="' + response[i].Id + '">';
                        htmldiv += '<input type="hidden"  name="AdditionalDetails[' + i + '].ContactId" value="' + response[i].ContactId + '">';
                        htmldiv += '<input type="hidden"  name="AdditionalDetails[' + i + '].RowNumber" value="' + response[i].RowNumber + '">';
                        htmldiv += '<input type="hidden"  name="AdditionalDetails[' + i + '].ColumnName" value="' + response[i].ColumnName + '">';
                        htmldiv += ' <span class="pull-right btn-group-sm" style="float:right;"><a class="btn btn-danger tooltips" onclick=DeleteAdditionaldetails(' + response[i].Id + ',' + response[i].ContactId + ') data-placement="top" data-original-title="Delete"><span class="fa fa-close"></span></a></span><br/>'
                        htmldiv += '<label name="AdditionalDetails[' + i + '].ColumnName" value="' + response[i].ColumnName + '" for="Input' + response[i].ColumnName + '">' + response[i].ColumnName + '</label>';
                        htmldiv += '<input type="text" class="form-control" name="AdditionalDetails[' + i + '].ColumnValue" placeholder="' + response[i].ColumnName + '"  id="' + response[i].ColumnName + '" value="' + response[i].ColumnValue + '" > ';

                        //htmldiv += '<input type="button" class="btn btn-default" style="padding:5px;" onclick=DeleteAdditionaldetails(' + response[i].Id+') name="AdditionalDetails[' + i + '].Id" value="delete"><br/>';
                        $("#inputfield").append(htmldiv);
                    };
                } else {
                    $('#additionalfield').hide();
                };
                $('#modal-Update').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
    function Adddetails() {
        $('#addadditionalfield').show();
        var contactid = $('#hfId').val();
        var count = 0;
        if (($("#addfield").find("*").length) == 0) { count = 1 } else { count = parseInt($('#count').val()) + 1 };
        var htmldiv = '<input type="hidden" id="contact_' + count + '" name="AdditionalDetails[' + count + '].ContactId" value="' + contactid + '">';
        htmldiv += '<label name="columnname">  Field Name  </label>';
        htmldiv += '<input type="text" id="columnname_' + count + '" class="form-control" name="AdditionalDetails[' + count + '].ColumnName" placeholder="Field Name "  id="ColumnName_' + count + '"> ';
        htmldiv += '<label name="columnvalue"> Value  </label>';
        htmldiv += '<input type="text" id="columnvalue_' + count + '" class="form-control" name="AdditionalDetails[' + count + '].ColumnValue" placeholder="Enter Value " id="ColumnValue_' + count + '">';
        console.log("count value: " + count);
        $("#addfield").append(htmldiv);
        $('#count').val(count);
    };
    function canceladd() {
        $("#addfield").empty();
        $('#addadditionalfield').hide();
    }
    function addadditionaldetails() {
        var count = parseInt($('#count').val());
        var additionaldetailslist = [];
        var contactid = 0;
        for (i = 1; i <= count; i++) {
            var additionaldetails = new Object();
            contactid = $('#contact_' + i).val();
            additionaldetails.ContactId = $('#contact_'+i).val();
            additionaldetails.ColumnName = $('#columnname_'+i).val();
            additionaldetails.ColumnValue = $('#columnvalue_' + i).val();
            console.log(additionaldetails);
            additionaldetailslist.push(additionaldetails);
        }
        if (additionaldetailslist.length >0) {
            $.ajax({
                type: "POST",
                url: "/Excel/AddAdditionalDetails",
                data: JSON.stringify(additionaldetailslist),
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response == "Success") {
                        alert("Additional Details Added successfully");
                        GetDetails(contactid);
                    } else {
                        alert("Something went wrong");
                    }
                }
                
            });
        }
    }
</script>
<script>

    function Delete(cid) {
        if (confirm("Are you sure you want delete contact?")) {
            $.ajax({
                type: "GET",
                url: "/Excel/DeleteContact",
                data: { a: cid },
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    alert("Deleted Successfully");
                    $('#modal-Update').modal('hide');
                    window.location.reload();
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        return false;
    }
    function DeleteAdditionaldetails(cid,contactid) {
        console.log(cid);
        if (confirm("Are you sure you want delete these additional details ?")) {
            $.ajax({
                type: "GET",
                url: "/Excel/DeleteAdditionalDetails",
                data: { id: cid },
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    if (response == "Success") {
                        GetDetails(contactid);
                    }
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
        return false;
    }
</script>

<script>
    $(function () {
        $("a[data-toggle='tooltip']").tooltip();
    });
</script>
