﻿@using Excel_Import.Models
@{
    ViewBag.Title = "Excel Upload";

}
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/jquery.loadingModal.min.js"></script>
<link href="~/Content/jquery.loadingModal.min.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }

    .k-grid-content {
        min-height: 560px !important;
    }

    .CustFilter {
        height: 20px;
        width: 20px;
    }

    .chkspan {
        position: absolute;
        bottom: 16px;
    }

    /*  .checkboxes, .dropdowns {
        text-align: center;
    }*/

    .checkboxes input {
        margin: 0px 0px 0px 3px;
    }

    .checkboxes label {
        margin: 3px 3px 4px 3px;
        /*width:120px;*/
    }

    .dropdowns select {
        margin: 0px 3px 0px 3px;
        width: 120px;
    }

    .k-listbox .k-item, .k-popup .k-list .k-item {
        width: max-content !important;
        min-width: 55px !important;
    }

    .k-popup.k-calendar-container, .k-popup.k-list-container {
        width: max-content !important;
        min-width: 55px !important;
    }


    .k-nodata {
        color: #cb2323;
    }

    #myTableDiv {
        height: 150px !important;
        overflow-y: scroll;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    /*.overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url("/examples/images/loader.gif") center no-repeat;
    }

    body {
        text-align: center;
    }*/
    /* Turn off scrollbar when body element has the loading class */
    /*body.loading {
            overflow: hidden;
        }*/
    /* Make spinner image visible when body element has the loading class */
    /*body.loading .overlay {
                display: block;
            }*/
</style>
@*<div id="loader_div" style="display:none ">
        <img src="Images/heart.gif" id="Loader" alt="Loading..." />
    </div>*@
<div class="hpanel">
    <div id="panelbody" class="panel-body">
        @*<div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                         <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                         <li class="active"><span>Manage Survey Job </span></li>
                     </ol>
            </div>*@
        <h2 class="font-light m-b-xs">
            Contacts Import / Export
        </h2>
        <div class="k-content">
            <div class="row">
                @(Html.Kendo().Grid<Contacts>()
                    .Name("ContactsGrid")
                    .Sortable()
                    .Scrollable()
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(new[] { 15, 30, 100 })
                    .ButtonCount(5))

                    .HtmlAttributes(new { style = "height:785px;" })
                     .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                    .Columns(columns =>
                    {
                        columns.Bound(e => e.Company).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                        columns.Bound(e => e.FirstName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                        columns.Bound(e => e.LastName).Filterable(ftb => ftb.Cell(cell =>  cell.Operator("contains")));
                        columns.Bound(e => e.Address).Filterable(ftb => ftb.Cell(cell =>  cell.Operator("contains")));
                        columns.Bound(e => e.Phone1).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                        columns.Bound(e => e.Phone2).Filterable(ftb => ftb.Cell(cell =>  cell.Operator("contains")));
                        columns.Bound(e => e.Title).Filterable(ftb => ftb.Cell(cell =>  cell.Operator("contains")));
                        columns.Bound(e => e.Email).Filterable(ftb => ftb.Cell(cell =>  cell.Operator("contains")));
                        columns.Bound(e => e.KeyWords).Filterable(ftb => ftb.Cell(cell =>  cell.Operator("contains")));
                        columns.Bound(e => e.CompanyType).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                        columns.Bound(e => e.PersonType).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                    })
                    .ToolBar(toolbar =>
                    {
                    toolbar.Template(@<text>
                <div class="row">
                    <div class="col-sm-2">
                         <button class="k-button" id="btnExcelTemplate">Export Data</button>
                       <br />
                        <div><br /></div>
                        @(Html.Kendo().Upload()
                                    .Name("files")
                                    .Async(a => a
                                    .Save("UploadContacts", "Excel")
                                    .AutoUpload(false))
                                    .Multiple(false)
                                    .Events(x => x.Success("onSuccess").Error("onError").Complete("onComplete").Upload("onUpload"))

                                    )

                    </div>

                </div>


                            </text>);
                    })

                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(15)
                    .Read(read => read.Action("ContactsRead", "Excel"))
                    )
                    .Events(events => events.DataBound("onDataBound"))
                    .Resizable(resize => resize.Columns(true))
                    )


            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="ReInstateModal" data-backdrop="static" style="left:75px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 1600px; ">
            <div class="modal-header" style="height:50px;padding: 10px;">
                <h4 class="modal-title text-center">Import Contacts</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="checkbox" id='checkall' style="margin-left:10px;padding:5px" /> <b>Select All</b><br /><br />
                    <div id="myTableDiv">
                        <table id="myTable">
                            @*<tr id="myDiv" class="checkboxes" style="width: 1460px;"></tr>
                                <tr id="dropdownList" class="dropdowns" style="width:1460px;"></tr>
                                <tr id="myDivtwo" class="checkboxes" style="width: 1460px;"></tr>
                                <tr id="dropdownListtwo" class="dropdowns" style="width:1460px;"></tr>*@
                        </table>
                    </div>
                    <div id="contactVerifyGrid" style="width: 1550px;height:580px; padding:10px; margin-left:10px"></div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" id="Btncheckdropdown">Check</button>*@
                <button type="button" class="btn btn-primary" id="BtnReinitiate">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="resetfileupload()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="DuplicateCheck" data-backdrop="static" style="left:75px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 1480px;">
            <div class="modal-header" style="height:60px;padding: 10px;">
                <h4 class="modal-title text-center">Check Duplicate Contacts</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div id="myUpdateDiv" class="checkboxes" checkboxesstyle="width:1460px;"></div>
                        <div id="updateDropDownList" class="dropdowns" style="width:1460px;"></div>*@
                    <input type="checkbox" id='updatecheckall' style="margin-left:3px" /> <b>Select All</b><br /><br />
                    <table>
                        <tr id="myUpdateDiv" class="checkboxes" style="width: 1460px;"></tr>
                        <tr id="updateDropDownList" class="dropdowns" style="width:1460px;"></tr>
                        <tr id="myUpdateDivtwo" class="checkboxes" style="width: 1460px;"></tr>
                        <tr id="updateDropDownListtwo" class="dropdowns" style="width:1460px;"></tr>
                    </table>
                    <div id="contactUpdateGrid" style="width: 1440px;padding:10px"></div>
                </div>
            </div>
            <div class="modal-footer">
                <span><label style="color:red">Above Recored are duplicate, do you want to update or skip </label></span>
                <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-secondary" onclick="resetfileupload()" data-dismiss="modal">Skip</button>
            </div>
        </div>
    </div>
</div>

<script>
    var CompletionexportFlag = true;
    var dateFields = [];
    //$(document).on({
    //    ajaxStart: function () {
    //        $("body").addClass("loading");
    //    },
    //    ajaxStop: function () {
    //        $("body").removeClass("loading");
    //    }
    //});
    function resetfileupload() {
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $(".k-upload").find("ul").remove();
        $(".k-upload.k-header").addClass("k-upload-empty");
        $(".k-upload-button").removeClass("k-state-focused");
        setTimeout(function () { CloseLoadingModal(); }, 500)
    };


    function onDataBound() {
        ShowLoadingModal("Loading Data");
        //var grid = this;
        var ContactsGrid = $("#ContactsGrid").data("kendoGrid");
        for (var i = 0; i < ContactsGrid.columns.length; i++) {
            ContactsGrid.autoFitColumn(i);
        }
        setTimeout(function () { CloseLoadingModal(); }, 500)
    }

    function onSuccess(e) {
        setTimeout(function () { CloseLoadingModal(); }, 100)
        $("#ReInstateModal").modal('show');
        var response = JSON.parse(e.XMLHttpRequest.response);
        var newresponse = response.replace(/\\/g, '');
        var result = JSON.parse(newresponse);
        generateGrid(result);
    }

    function onError() {
        setTimeout(function () { CloseLoadingModal(); }, 500)
    }

    function onComplete(e) {
        //setTimeout(function () { CloseLoadingModal(); }, 500)
    }

    function onUpload() {
        ShowLoadingModal("Importing Excel Data");
    }


    function generateGrid(gridData) {
        ShowLoadingModal("Generating Grid...");
        var model = generateModel(gridData[0]);

        console.log(gridData)
        $('#contactVerifyGrid').empty();
        var grid = $("#contactVerifyGrid").kendoGrid({
            dataSource: {
                data: gridData,
                model: model,
                //pageSize: 15,
            },
            sortable: true,
            resizable: true,
            //pageable: true,
           // dataBound: onDataBound(gridData),
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            resizable: true
        });
        CheckboxGeneration(gridData);
        /*$('#loader_div').css('display', 'none');*/
       // DropdownListGeneration(result);
        setTimeout(function () { CloseLoadingModal(); }, 500)
    }

    function DropdownListGeneration(gridData) {
        $.ajax({
            type: "POST",
            url: "/Excel/GetAllColumnNameList",
            data: { },
            success: function (data) {
                if (data.length>0) {
                    var dropdownvalue = data;
                    var gridObj = gridData[0];
                    GridTitleArray = [];
                    $.each(gridObj, function (gridTitle, element) {
                        GridTitleArray.push(gridTitle)
                    });

                    $('#dropdownList').empty();
                    $('#dropdownListtwo').empty();
                    for (var property in GridTitleArray) {
                        if (property <= 11) {
                            $('#dropdownList').append(
                                $(document.createElement('td')).prop({
                                    id: 'td_' + property,
                                    name: 'tdddl'
                                })
                            )
                            $('#td_' + property).append(
                                $(document.createElement('select')).prop({
                                    id: 'columnmap_' + property,
                                    name: 'columnmap'
                                })
                            )
                        }
                        else if (property > 11) {
                            $('#dropdownListtwo').append(
                                $(document.createElement('td')).prop({
                                    id: 'td_' + property,
                                    name: 'tdddl'
                                })
                            )
                            $('#td_' + property).append(
                                $(document.createElement('select')).prop({
                                    id: 'columnmap_' + property,
                                    name: 'columnmap'
                                })
                            )
                        }

                        for (const val of dropdownvalue) {
                            if (val != "contactid") {
                                $('#columnmap_' + property).append($(document.createElement('option')).prop({
                                    value: val,
                                    text: val,
                                }))
                            }
                            else {
                                $('#columnmap_' + property).append($(document.createElement('option')).prop({
                                    value: "nochange",
                                    text: "-select-",
                                    selected: true
                                }))
                            }
                        }
                    }
                }
            }

        });
    }

    function CheckboxGeneration(gridData) {
        
        var gridObj = gridData[0];
        console.log(gridObj);
        GridTitleArray = [];
        //var dropdownvalue;
       // GridTitleArrayDrpValue = [];
        $.each(gridObj, function (gridTitle, element) {
            GridTitleArray.push(gridTitle)
        });
        $.ajax({
            type: "POST",
            url: "/Excel/GetAllColumnNameList",
            data: {},
            success: function (data) {
                if (data.length > 0) {
                    var dropdownvalue = data;
                }
                
        $('#myTable').empty();
        //$('#myDiv').empty();
        //$('#myDivtwo').empty();
        $('#checkall').prop("checked", false);
        $('#updatecheckall').prop("checked", false);
        var chkrow = 0;
        var index = 0;
        var chxtrElementId = "chxtr_";
        var drptrElementId = "drptr_";
        for (var property in GridTitleArray) {
            // creating checkbox element
            
            var checkbox = document.createElement('input');

            // Assigning the attributes
            // to created checkbox
            checkbox.type = "checkbox";
            checkbox.name = "selectcolumn";
            checkbox.value = GridTitleArray[property];
            checkbox.id = GridTitleArray[property];

            // creating label for checkbox
            var label = document.createElement('label');
            label.id = "checkalllabel";
            // assigning attributes for
            // the created label tag
            label.htmlFor = "id";

            // appending the created text to
            // the created label tag
            label.appendChild(document.createTextNode(GridTitleArray[property]));

            if (chkrow == 0) {
                index++;
                $('#myTable').append(
                    $(document.createElement('tr')).prop({
                        id: chxtrElementId + index,
                        name: 'trchx',
                        className: "checkboxes",
                    })
                );

                $('#myTable').append(
                    $(document.createElement('tr')).prop({
                        id: drptrElementId + index,
                        name: 'trdrp',
                        className: 'dropdowns',
                    })
                );
                chxtrElementId = chxtrElementId + index;
                drptrElementId = drptrElementId + index;

            }

            if (chkrow % 10 == 0 && (chkrow/10)==index) {
                index++;
                $('#myTable').append(
                    $(document.createElement('tr')).prop({
                        id: chxtrElementId + index,
                        name: 'trchx',
                        className: "checkboxes",
                    })
                );
                $('#myTable').append(
                    $(document.createElement('tr')).prop({
                        id: drptrElementId + index,
                        name: 'trdrp',
                        className: 'dropdowns',
                    })
                );
                chxtrElementId = chxtrElementId + index;
                drptrElementId = drptrElementId + index;
            }
            chkrow++;
            $('#'+chxtrElementId).append(
                    $(document.createElement('td')).prop({
                        id: 'chxtd_' + property,
                        name: 'tdchx'
                    }));
                var $warp = $(document.createElement('div')).prop({
                    id: 'div_' + property,
                    name: 'divforchx'
                });
                $('#chxtd_' + property).append($warp);

                $('#div_' + property).append(checkbox);
            $('#div_' + property).append(label);

            $('#'+drptrElementId).append(
                $(document.createElement('td')).prop({
                    id: 'td_' + property,
                    name: 'tdddl'
                })
            );
            $('#td_' + property).append(
                $(document.createElement('select')).prop({
                    id: 'columnmap_' + property,
                    name: 'columnmap',

                })
            );

            for (const val of dropdownvalue) {
                if (val != "contactid") {
                    $('#columnmap_' + property).append($(document.createElement('option')).prop({
                        value: val,
                        text: val,
                    }))
                }
                else {
                    $('#columnmap_' + property).append($(document.createElement('option')).prop({
                        value: "nochange",
                        text: "-select-",
                        selected: true
                    }))
                }
            }
        };
            }
        });
            //if (property > 11) {
            //    $('#myDivtwo').append(
            //        $(document.createElement('td')).prop({
            //            id: 'chxtd_' + property,
            //            name: 'tdchx'
            //        }));
            //    var $warp = $(document.createElement('div')).prop({
            //        id: 'div_' + property,
            //        name: 'divforchx'
            //    });
            //    $('#chxtd_' + property).append($warp);

            //    $('#div_' + property).append(checkbox);
            //    $('#div_' + property).append(label);
            //}


            // appending the checkbox
            // and label to div
            //myDiv.appendChild(checkbox);
            //myDiv.appendChild(label);
           // myDiv.appendChild(document.createElement('&nbsp;'));
       // }

    }
    function generateModel(gridData) {
        var model = {};
        model.id = "ContactId";
        var fields = {};
        for (var property in gridData) {
            var propType = typeof gridData[property];
            if (propType == "number") {
                fields[property] = {
                    type: "number",
                    validation: {
                        required: true
                    }
                };
            } else
            if (propType == "boolean") {
                fields[property] = {
                    type: "boolean",
                    validation: {
                        required: true
                    }
                };
            } else if (propType == "string") {
                var parsedDate = kendo.parseDate(gridData[property]);
                console.log(parsedDate +"datevalue")
                if (parsedDate) {
                    fields[property] = {
                        type: "date",
                        validation: {
                            required: true
                        }
                    };
                    dateFields.push(property);
                } else {
                fields[property] = {

                        validation: {
                            required: true
                        }
                    };
                }
            } else {
                fields[property] = {
                    validation: {
                        required: true
                    }
                };
            }

        }
        model.fields = fields;
        console.log("model detail" + model.fields);
        return model;
    }

    $(document).ready(function () {
        // Check or Uncheck All checkboxes
        $('#checkall').prop("checked", false);
        $('#updatecheckall').prop("checked", false);
        $("#checkall").change(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $("input[name='selectcolumn']").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='selectcolumn']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
            $("#updatecheckall").change(function () {
                var checked = $(this).is(':checked');
                if (checked) {
                    $("input[name='selectupdatecolumn']").each(function () {
                        $(this).prop("checked", true);
                    });
                } else {
                    $("input[name='selectupdatecolumn']").each(function () {
                        $(this).prop("checked", false);
                    });
                }

        });

        // Changing state of CheckAll checkbox
        $("input[name='selectupdatecolumn']").change(function () {

            if ($("input[name='selectupdatecolumn']").length == $("input[name = 'selectupdatecolumn']:checked").length) {
                $("#updatecheckall").prop("checked", true);
            } else {
                $("#updatecheckall").prop("checked", false);
            }

            });
        $("input[name='selectcolumn']").change(function () {

                if ($("input[name='selectcolumn']").length == $("input[name = 'selectcolumn']:checked").length) {
                    $("#checkall").prop("checked", true);
                } else {
                    $("#checkall").prop("checked", false);
                }

        });

    });


    $("#BtnReinitiate").click(function (ev) {
        ev.preventDefault();
        ShowLoadingModal("Importing Excel Data");
        var grid = $("#contactVerifyGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var renamevalue = [];
        $.each($("select[name='columnmap'] option:selected"), function () {
            renamevalue.push($(this).val());
        });
        var arr = [];
        var rearr = [];
        var orgarr = [];
        $.each($("input[name='selectcolumn']:checked"), function () {
            arr.push($(this).val());
        });

            if (renamevalue.length > 0 && arr.length > 0) {

                $("input[name='selectcolumn']").each(function () {
                    rearr.push($(this).val() + (this.checked ? "_checked" : "_notchecked"));
                });
                if (rearr.length>0)
                    orgarr.push(rearr);

                var j = 0;
                var totalcount = rearr.length;
                for (i = 0; i < totalcount; i++) {
                    if (rearr[i].indexOf("_checked")!==-1) {
                        if (renamevalue[i] !== "nochange") {
                            orgarr.splice(j, 1, renamevalue[i]);
                            j = j + 1;
                        }
                        else {
                            orgarr.splice(j, 1, (rearr[i].substring(0, rearr[i].indexOf("_checked"))));
                            j = j + 1;
                        }
                    }
                    else {
                        orgarr.splice(i, 1);
                    }
                }

            }
            else if (arr.length > 0) {
                orgarr.push(arr);
            }
            //else {
            //    alert("Please select atleast company and email checkbox for insert those column values into database.")
        //}
       // var newdata = gridData.replace(/:(\d+)([,\}])/g, ':"$1"$2');

            var strarr = JSON.stringify(orgarr);
        var strarrold = JSON.stringify(arr);
        var strgridData = JSON.stringify(gridData);

        //const stringifyNumbers = obj => {
        //    const result = {};
        //    strgridData.entries(obj).map(entry => {
        //        const type = typeof entry[1];
        //        if (Array.isArray(entry[1])) {
        //            result[entry[0]] = entry[1].map(entry => stringifyNumbers(entry));
        //        } else if (type === 'object' && !!entry[1]) {
        //            result[entry[0]] = stringifyNumbers(entry[1]);
        //        } else if (entry[1] === null) {
        //            result[entry[0]] = null;
        //        } else if (type === 'number') {
        //            result[entry[0]] = String(entry[1]);
        //        } else {
        //            result[entry[0]] = entry[1];
        //        }
        //    });
        //    return result;
        //}

        //for (i = 0; i < orgarr.length; i++) {
        //    newgridData.replace(/arr[i]/g, orgarr[i]);
        //    console.log(arr[i] + "to" + orgarr[i] + " in replace")
        //}

        if (arr.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Excel/Checkduplicatedata",
                data: { 'gridData': strgridData, 'selectedColumn': strarr, 'excelColumn': strarrold },
                success: function (data) {
                   // var duplicaterecord = JSON.parse(data);
                    //if (duplicaterecord.length > 0) {
                    //    $("#ReInstateModal").modal('hide');
                    //    $("#DuplicateCheck").modal('show');
                    //    generateupdateGrid(duplicaterecord);
                    //}
                    //else {
                    /*if (data == "success") {*/
                    if (data!=0) {
                        $("#ContactsGrid").data("kendoGrid").dataSource.read();
                        if (data == 1) {
                            alert(data + " Record Imported Successfully");
                        }
                        else {
                            alert(data + " Records Imported Successfully");
                        }
                        setTimeout(function () { CloseLoadingModal(); }, 100)
                        $("#ReInstateModal").modal('hide');
                    }
                    else {
                        setTimeout(function () { CloseLoadingModal(); }, 100)
                        alert("Issue While Import, Please check the excel data");
                    }
                }
            });
        }
        else {
            setTimeout(function () { CloseLoadingModal(); }, 100)
            alert("Please should select checkbox of company, email, firstname, lastname then choose needed column for insert its values into database.")
        }
    });

    // Export Data into Excel file 
    $("#btnExcelTemplate").click(function (ev) {

        ev.preventDefault();
        //var isClosedChecked = $('#chkShowClosedJobs').is(':checked');
        //var isCancelledChecked = $('#chkShowCancelledJobs').is(':checked');
        ShowLoadingModal("Exporting Data...")
        if (CompletionexportFlag) {
            CompletionexportFlag = false;

            $.ajax({
                type: "POST",
                url: "/Excel/AllContactExcelExport",
                data: {}, //'IncludeClosed': isClosedChecked, 'IncludeCancelled': isCancelledChecked
                success: function (excelUrl) {
                     CloseLoadingModal();
                    window.open(excelUrl);
                    CompletionexportFlag = true;
                },
                error: function (xhr, ajaxOptions) {
                    CloseLoadingModal();
                    console.error("Failed to download completion details");
                    console.error(xhr);
                    console.error(ajaxOptions);
                }
            });
        }



    });


    // *********************** Start ***** Old Code to Show the duplicate record Popup screen now not need **********************

    function generateupdateGrid(gridData) {
        var model = generateModel(gridData[0]);
        $('#contactUpdateGrid').empty();
        var grid = $("#contactUpdateGrid").kendoGrid({
            dataSource: {
                data: gridData,
                model: model,
                pageSize: 10,
            },
            sortable: true,
            resizable: true,
            pageable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            }
        });
        UpdateCheckboxGeneration(gridData);
        UpdateDropdownListGeneration(gridData);
    }
    function UpdateCheckboxGeneration(gridData) {

        var gridObj = gridData[0];
        GridTitleArray = [];

        $.each(gridObj, function (gridTitle, element) {
            GridTitleArray.push(gridTitle)
        });
        $('#checkall').prop("checked", false);
        $('#updatecheckall').prop("checked", false);
        $('#myUpdateDiv').empty();
        $('#myUpdateDivtwo').empty();
        var myDiv = document.getElementById("myUpdateDiv");

        for (var property in GridTitleArray) {
            // creating checkbox element
            var checkbox = document.createElement('input');

            // Assigning the attributes
            // to created checkbox
            checkbox.type = "checkbox";
            checkbox.name = "selectupdatecolumn";
            checkbox.value = GridTitleArray[property];
            checkbox.id = GridTitleArray[property];

            // creating label for checkbox
            var label = document.createElement('label');

            // assigning attributes for
            // the created label tag
            label.htmlFor = "id";

            // appending the created text to
            // the created label tag
            label.appendChild(document.createTextNode(GridTitleArray[property]));

            if (property <= 11) {
                $('#myUpdateDiv').append(
                    $(document.createElement('td')).prop({
                        id: 'updchxtd_' + property,
                        name: 'updchxtd'
                    }));
                var $warp = $(document.createElement('div')).prop({
                    id: 'upddiv_' + property,
                    name: 'upddivforchx'
                });
                $('#updchxtd_' + property).append($warp);

                $('#upddiv_' + property).append(checkbox);
                $('#upddiv_' + property).append(label);
            }
            if (property > 11) {
                $('#myUpdateDivtwo').append(
                    $(document.createElement('td')).prop({
                        id: 'updchxtd_' + property,
                        name: 'updtdchx'
                    }));
                var $warp = $(document.createElement('div')).prop({
                    id: 'upddiv_' + property,
                    name: 'upddivforchx'
                });
                $('#updchxtd_' + property).append($warp);

                $('#upddiv_' + property).append(checkbox);
                $('#upddiv_' + property).append(label);

                // appending the checkbox
                // and label to div
                //myDiv.appendChild(checkbox);
                //myDiv.appendChild(label);
                // myDiv.appendChild(document.createElement('&nbsp;'));
            }

        }
    }
    function UpdateDropdownListGeneration(gridData) {
        $.ajax({
            type: "POST",
            url: "/Excel/GetAllColumnNameList",
            data: {},
            success: function (data) {
                if (data.length > 0) {
                    var dropdownvalue = data;
                    var gridObj = gridData[0];
                    GridTitleArray = [];
                    $.each(gridObj, function (gridTitle, element) {
                        GridTitleArray.push(gridTitle)
                    });
                    $('#dropdownList').empty();
                    $('#dropdownListtwo').empty();
                    $('#updateDropDownList').empty();
                    $('#updateDropDownListtwo').empty();

                    for (var property in GridTitleArray) {
                        if (property <= 11) {
                            $('#updateDropDownList').append(
                                $(document.createElement('td')).prop({
                                    id: 'updtd_' + property,
                                    name: 'updtdddl'
                                })
                            )
                            $('#updtd_' + property).append(
                                $(document.createElement('select')).prop({
                                    id: 'updatecolumnmap_' + property,
                                    name: 'updatecolumnmap'
                                })
                            )
                        }
                        else if (property > 11) {
                            $('#updateDropDownListtwo').append(
                                $(document.createElement('td')).prop({
                                    id: 'updtd_' + property,
                                    name: 'updtdddl'
                                })
                            )
                            $('#updtd_' + property).append(
                                $(document.createElement('select')).prop({
                                    id: 'updatecolumnmap_' + property,
                                    name: 'updatecolumnmap'
                                })
                            )
                        }

                        for (const val of dropdownvalue) {
                            if (val != "contactid") {
                                $('#updatecolumnmap_' + property).append($(document.createElement('option')).prop({
                                    value: val,
                                    text: val,
                                }))
                            }
                            else {
                                $('#updatecolumnmap_' + property).append($(document.createElement('option')).prop({
                                    value: "nochange",
                                    text: "-select-",
                                    selected: true
                                }))
                            }
                        }
                    }
                }
            }

        });
    }
    $("#btnUpdate").click(function (ev) {
        ev.preventDefault();
        var grid = $("#contactUpdateGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var renamevalue = [];
        $.each($("select[name='updatecolumnmap'] option:selected"), function () {
            renamevalue.push($(this).val());
        });
        var arr = [];
        var rearr = [];
        var orgarr = [];
        $.each($("input[name='selectupdatecolumn']:checked"), function () {
            arr.push($(this).val());
        });
        if (renamevalue.length > 0 && arr.length > 0) {
            $("input[name='selectupdatecolumn']").each(function () {
                rearr.push($(this).val() + (this.checked ? "_checked" : "_notchecked"));
            });
            if (rearr.length > 0)
                orgarr.push(rearr);

            var j = 0;
            var totalcount = rearr.length;
            for (i = 0; i < totalcount; i++) {
                if (rearr[i].indexOf("_checked") !== -1) {
                    if (renamevalue[i] !== "nochange") {
                        orgarr.splice(j, 1, renamevalue[i]);
                        j = j + 1;
                    }
                    else {
                        orgarr.splice(j, 1, (rearr[i].substring(0, rearr[i].indexOf("_checked"))));
                        j = j + 1;
                    }
                }
                else {
                    orgarr.splice(i, 1);
                }
            }
        }
        else if (arr.length > 0) {
            orgarr.push(arr);
        }
        //else {
        //    alert("Please should select company, email, phone then choose needed column for insert or update its values into database.")
        //}

        var newstrarr = JSON.stringify(orgarr);
        var strarrold = JSON.stringify(arr);
        var updategridData = JSON.stringify(gridData);
        if (arr.length>0) {
            $.ajax({
                type: "POST",
                url: "/Excel/Updateduplicatedata",
                data: { 'updategridData': updategridData, 'selectedColumn': newstrarr, 'excelColumn': strarrold },
                success: function (data) {
                    if (data == "success") {
                        $("#DuplicateCheck").modal('hide');
                        $("#ContactsGrid").data("kendoGrid").dataSource.read();
                        alert("Recored Imported Successfully");
                    }
                    else {
                        alert("Issue While Import")
                    }
                }
            });
        }
        else {
            alert("Please should select checkbox of company, email, firstname, lastname then choose needed column for insert or update its values into database.")
        }
    });

   // ************************ END ****** Old Code to Show the duplicate record Popup screen now not need **********************
    
</script>